$base-font:'Lato', sans-serif;
$white:#fff;
$black:#000;
$start-btn-bg:#00adef;
$start-btn-bg-hover:#44cbfe;
$gray-dark:#8d8d8d;
$termcondition:#7583ec;
$Intro-bg:#00adef;
$dropdown-bg-categoris:#f3f3f3;
$dropdown-txt:#0065bd;
$cart-bg:#c5c5c5;

